html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

.card {
	position: relative;
	display: inline-block;
}

.front {
	position: absolute;
	z-index: 1;
	backface-visibility: hidden;
}

.back {
	position: absolute;
	z-index: 0;
	color: red;
	backface-visibility: hidden;
}

#gamespace{
	margin: 0 auto;
	height: 500px;
	width: 1000px;
	background-color: blue;
	font-size: 50px;
	letter-spacing: 10px;
	padding: 10px;
}

#scoreLives {
	position: absolute;
}

i{
	border: 1px solid red;
	margin-right: 5px; 
	padding:30px;
	width: 137px;
	height: 137px;

}